/*
  ____              _                  
 |  _ \            | |                 
 | |_) | ___  _   _| |_ ___  _ __  ___ 
 |  _ < / _ \| | | | __/ _ \| '_ \/ __|
 | |_) | (_) | |_| | || (_) | | | \__ \
 |____/ \___/ \__,_|\__\___/|_| |_|___/
*/

.bouton {
    text-align: left;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.beau-bouton {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.beau-bouton::before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -8px;
    left: 20px;
    right: 20px;
    z-index: -1;
    border-radius: 30em;
    -webkit-filter: blur(20px) brightness(0.95);
    filter: blur(20px) brightness(0.95);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.beau-boutontext {
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50em;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    @include mobile-and-tablette {
        padding: 23px 30px;
    }
}

.beau-boutontext:hover {
    -webkit-filter: brightness(1.20) contrast(1.20);
    filter: brightness(1.20) contrast(1.20);
    -webkit-transform: scale(0.90);
    -ms-transform: scale(0.90);
    transform: scale(0.90);
}

.beau-boutontext:hover .beau-bouton::before {
    bottom: 100;
    -webkit-filter: blur(10px) brightness(0.90);
    filter: blur(10px) brightness(0.90);
}

.beau-boutontext,
.degrade-fond::before {
    background: #7510F7;

}

.bouton_vide {
    padding: 10px 20px;
    color: #7510F7;
    text-decoration: none;

    border: 3px solid #7510F7;
    border-radius: 50em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.bouton_vide:hover {
    background-color: #7510F7;
    color: white;
}

.container_bouton {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}